@model rthowell.net__ASP_MVC_.Models.ReloadingData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entry for new load data</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Load Data</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Cartridge</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cartridge, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cartridge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Date Loaded</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateLoaded, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateLoaded, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LoadSource">Load Source</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="LoadSource" name="LoadSource" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="LoadSource" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Bullet Brand</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BulletBrand, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BulletBrand, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Bullet Type</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BulletType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BulletType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Bullet Weight (Grains)</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BulletWeight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BulletWeight, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Powder</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Powder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Powder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Powder Weight (Grains)</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PowderWeight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PowderWeight, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Powder Lot</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PowderLot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PowderLot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Primer Brand</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimerBrand, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrimerBrand, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Primer Type</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimerType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrimerType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Primer Lot</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimerLot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrimerLot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>COL</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.COL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Speed (FPS)</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Speed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Speed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Notes</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
