@model rthowell.net__ASP_MVC_.Models.ReloadingData

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReloadingData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cartridge
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cartridge)
        </dd>

        <dt>
            Date Loaded
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLoaded)
        </dd>

        <dt>
            Load Source
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadSource)
        </dd>

        <dt>
            Bullet Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BulletBrand)
        </dd>

        <dt>
            Bullet Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BulletType)
        </dd>

        <dt>
            Bullet Weight
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BulletWeight) grains
        </dd>

        <dt>
            Powder
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Powder)
        </dd>

        <dt>
            Powder Weight
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowderWeight) grains
        </dd>

        <dt>
            Powder Lot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowderLot)
        </dd>

        <dt>
            Primer Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerBrand)
        </dd>

        <dt>
            Primer Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerType)
        </dd>

        <dt>
            Primer Lot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimerLot)
        </dd>

        <dt>
            COL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COL)
        </dd>

        <dt>
            Speed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed) FPS
        </dd>

        <dt>
            Notes
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
