
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link href="@Url.Content("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//blueimp.github.io/Gallery/css/blueimp-gallery.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/bootstrap-image-gallery.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/photography.css")" rel="stylesheet" type="text/css" />
}

<h2>Photography</h2>

<br /><br />
Work in progress
<br /><br />

<!-- 
<div class="row">
    <div class="col-md-1 col-xs-1" id="photoNav">
        <h3>Galleries</h3><br />
        <a href="#" id="orCoast">Oregon Coast</a><br />
        <a href="#" id="moForest">Molalla Forest</a><br />
    </div>

    <div class="col-md-10 col-xs10" id="galleryTarget"></div>
</div>

 
<div class="col-md-11 col-xs-11">
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body 
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides 
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox 
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content 
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>

<script>
    $('#orCoast').click(function () {
        $('#galleryTarget').load('@Url.Action("Create", "coast")')
    });
</script>
<!--
<div id="links">
    <a href="~/img/photography/coast001.jpg" title="Oregon Coast 1" data-gallery>
        <img src="~/img/photography/thumbs/coast001.jpg" alt="Oregon Coast">
    </a>
    <a href="~/img/photography/coast002.jpg" title="Oregon Coast 2" data-gallery>
        <img src="~/img/photography/thumbs/coast002.jpg" alt="Oregon Coast">
    </a>
    <a href="~/img/photography/coast003.jpg" title="Oregon Coast 3" data-gallery>
        <img src="~/img/photography/thumbs/coast003.jpg" alt="Oregon Coast">
    </a>
    <a href="~/img/photography/coast004.jpg" title="Oregon Coast 4" data-gallery>
        <img src="~/img/photography/thumbs/coast004.jpg" alt="Oregon Coast">
    </a>
    <a href="~/img/photography/coast005.jpg" title="Oregon Coast 5" data-gallery>
        <img src="~/img/photography/thumbs/coast005.jpg" alt="Oregon Coast">
    </a>
    <a href="~/img/photography/molalla001.jpg" title="Molalla Forest 1" data-gallery>
        <img src="~/img/photography/thumbs/molalla001.jpg" alt="Molalla Forrest">
    </a>
    <a href="~/img/photography/molalla002.jpg" title="Molalla Forest 2" data-gallery>
        <img src="~/img/photography/thumbs/molalla002.jpg" alt="Molalla Forrest">
    </a>
    <a href="~/img/photography/molalla003.jpg" title="Molalla Forest 3" data-gallery>
        <img src="~/img/photography/thumbs/molalla003.jpg" alt="Molalla Forrest">
    </a>
    <a href="~/img/photography/molalla004.jpg" title="Molalla Forest 4" data-gallery>
        <img src="~/img/photography/thumbs/molalla004.jpg" alt="Molalla Forrest">
    </a>
    <a href="~/img/photography/molalla005.jpg" title="Molalla Forrest 5" data-gallery>
        <img src="~/img/photography/thumbs/molalla005.jpg" alt="Molalla Forrest">
    </a>
-->