@section Styles
{
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-2">
        <div class="quickpagenav">
            <ul class="navText">
                <p style="margin-top:2px; margin-bottom:4px; text-align:center;">Quick Links</p>
                <li class="liNav">@Html.ActionLink("My Resume", "../Home/Resume")</a></li>
                <!--
                <li class="liNav">@Html.ActionLink("Electronics", "../Home/Electronics")</li>
                <li class="liNav">@Html.ActionLink("Software", "../Home/Software")</li>
                -->
                <!--<li class="liNav"><a href="hobbies/hobbies.aspx">Hobbies</a></li>-->
                <li class="liNav">@Html.ActionLink("Photography", "../Hobbies/Photography")</li>
                <li class="liNav">@Html.ActionLink("Games", "../Hobbies/Games")</li>
                <!--<li class="liNav"><a href="hobbies/firearms.aspx">Shooting</a></li>-->
            </ul>
        </div>
    </div>

    <div class="col-md-10">
        <div class="text">
            <p>Welcome to my little corner of the Internet.  This page is in development right now so not all of the links lead to a functional page.</p>
            <p>
                I am developing this page to begin to showcase some of the skills I have learned since starting and 
                finishing my BSIT.  This web site is one small sample
            </p>
            <p>
                This page is a work in progress.  I will be adding to it all the time.<br />
                <br /><br /><br /><br /><br />
            
            <p style="font-size:x-small;">
                Last updated June 26, 2016
            </p>
        </div>
    </div>
</div>