<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Richard Thomas Howell - rthowell.net</title>
    <!--<link rel="stylesheet" href="~/Content/cssmenu.css" />-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
    <meta name="description" content="My personal web site to show off my skills." />
    
</head>
<body>

    <div id="banner-load"></div>

    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Home", "../Home/Index")</li>
                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Work Experience<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("My Resume", "../Home/Resume")</li>
                                <!--
                                <li>@Html.ActionLink("Electronics", "../Home/Electronics")</li>
                                <li>@Html.ActionLink("Software", "../Home/Software")</li>
                                -->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hobbies<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Photography", "../Hobbies/Photography")</li>
                                <li>@Html.ActionLink("Games", "../Hobbies/Games")</li>
                                <!--
                                <li>@Html.ActionLink("Outdoors", "../Hobbies/Outdoors")</li>
                                -->
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-brand">@ViewBag.PageTitle</div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Contact", "../Home/Contact")</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - Richard Thomas Howell</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        var images = ['header-001.jpg', 'header-002.jpg', 'header-003.jpg', 'header-004.jpg', 'header-005.jpg', 'header-006.jpg', 'header-007.jpg']

    $('<img style="width: 100%; height: 200px;" src="/img/header/' + images[Math.floor(Math.random() * images.length)] + '">').appendTo('#banner-load');
    </script>

</body>
</html>
